body {
    background-color:black;
    font-family:arial;
    color:white;
    align-items: center;
    }
h1{
    color:grey;
    font-family:verdana
}
.maindiv{
    
    align-items: center;
    margin-top: 13%;
    margin-left: 30%;
    background-color:white;
    color:black;
    width:510px;
    height: 300px;
    padding:20px;
    border-radius:25px;
     
}
.highlight{
    background-color: #fff000;
}


